@charset "UTF-8";

.fullName {
	width:100%; 
	height: 30px; 
	text-align:left; 
	padding-left: 20px; 
	margin-top:10px; 
}

.subText {
	width:15%; height:40px; float:left;  text-align: right; line-height:40px;
	margin-right: 10px;
}

.subOption {
	width:80%; height:40px; float:left; 
	display: flex; justify-content: left; align-items: left;
}

