<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>ARCertification</display-name>
  
  <!-- Initialize a Map Container, when the server starts. -->
  <listener>
        <listener-class>com.servlet.BlockContainerInitializer</listener-class>
  </listener>
    
  <servlet>
    <servlet-name>loginDispatcher</servlet-name>
    <servlet-class>com.servlet.LoginDispatcherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginDispatcher</servlet-name>
    <url-pattern>/loginDispatcher</url-pattern> 
  </servlet-mapping>
  
  <servlet>
    <servlet-name>studentLogin</servlet-name>
    <servlet-class>com.servlet.StudentLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentLogin</servlet-name>
    <url-pattern>/studentLogin</url-pattern> 
  </servlet-mapping>
  
  <servlet>
    <servlet-name>verifyStudentWholeScore</servlet-name>
    <servlet-class>com.servlet.VerifyStudentWholeScoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>verifyStudentWholeScore</servlet-name>
    <url-pattern>/verifyStudentWholeScore</url-pattern> 
  </servlet-mapping>
  
  <servlet>
    <servlet-name>lecturerLogin</servlet-name>
    <servlet-class>com.servlet.LecturerLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>lecturerLogin</servlet-name>
    <url-pattern>/lecturerLogin</url-pattern> 
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>publishMarksServlet</servlet-name>
    <servlet-class>com.servlet.PublishMarksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>publishMarksServlet</servlet-name>
    <url-pattern>/publishMarksServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>studentAndSubjectServlet</servlet-name>
    <servlet-class>com.servlet.StudentAndSubjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentAndSubjectServlet</servlet-name>
    <url-pattern>/studentAndSubjectServlet</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>VerifySignatureServlet</servlet-name>
    <servlet-class>com.servlet.VerifySignatureServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifySignatureServlet</servlet-name>
    <url-pattern>/verifySignatureServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>VerifyPreviousScoresServlet</servlet-name>
    <servlet-class>com.servlet.VerifyPreviousScoresServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyPreviousScoresServlet</servlet-name>
    <url-pattern>/verifyPreviousScoresServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>BuildAndAddBlockServlet</servlet-name>
    <servlet-class>com.servlet.BuildAndAddBlockServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuildAndAddBlockServlet</servlet-name>
    <url-pattern>/buildAndAddBlockServlet</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
</web-app>